# Ignore node_modules
node_modules/

# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment files
.env

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore build output
dist/
build/

# Ignore coverage reports
coverage/

# Optional: Ignore IDE/editor config files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
